<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content animated fadeInLeft">
    <span class="close">&times;</span>
      <div id="box">
        <select id="options">
          <option value="itemContainerA" selected>&nbsp; Items-A &nbsp;</option>
          <option value="itemContainerB">&nbsp; Items-B &nbsp;</option>
        </select>
    </div>
  </div>

</div>